
 body{
    background-color: #d1d1cb;
} 

.card-header {
    background-color: #47168b;
    color: whitesmoke;
}

.card-body{
    background-color: #063b66;
    color: whitesmoke;
}







